@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.add__grid {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./assets/images/grid.svg");
}

